{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Dinner Decider</title>
        <link rel="stylesheet" href="{% static 'dinnerDecider/style.css' %}" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
    </body>
        <div id='app'>
            <p>
                hey this is pretty cool aint it
            </p>
        </div>
        <script src="{% static 'dinnerDecider/script.js' %}"></script>
    </body>
</html>
