{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Palendrome</title>
        <link rel="stylesheet" href="{% static 'palendrome/style.css' %}" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id='app'>
            <div id="formInputDiv">
                <label for="palendromeInput">Suspected palendrome</label>
                <input type="text" id="palendromeInput" name="palendromeInput">
                <input type="button" id="submitButton" name="submitButton" value="Submit" v-on:click="checkPalendrome">
            </div>

            <div class="resultsDiv">
                <div v-for="result of results.slice().reverse()" class="resultDiv">
                    <div v-if="result.error =='true'">
                        <p>result.errorMessage</p>
                    </div>
                    <div v-if="result.palendrome == 'true'" class="resultDivTrue"> 
                        <h4 class="resultsHeader">Raw Input:</h4>
                        <p class="resultInfo">[[result.raw]]</p> 
                        <h4 class="resultsHeader">Reverse:</h4>
                        <p class="resultInfo">[[result.reverse]]</p>
                        <h4 class="resultsHeader">This is a palendrome</h4>
                    </div>
                    <div v-else class="resultDivFalse">
                        <h4 class="resultsHeader">Raw Input:</h4>
                        <p class="resultInfo">[[result.raw]]</p> 
                        <h4 class="resultsHeader">Reverse:</h4>
                        <p class="resultInfo">[[result.reverse]]</p>                        
                        <h4 class="resultsHeader">This is NOT a palendrome</h4>
                    </div>
                </div>
            </div>


            
        </div>
        <script src="{% static 'palendrome/script.js' %}"></script>
        
    </body>
</html>
                                                
