body {
    background-color: rgb(220, 222, 227); /*Cloud Motif Grey 220 222 227*/
}

.resultsDiv {
    background-color: #68a1a6; /*Porter Paints Aqua Bay #68a1a6*/
    /*border: 2px solid blue;*/
}

.resultDivTrue {
    background-color: rgb(63, 186, 189); /*Montego Bay 63 186 189*/
    border: 2px solid rgb(0, 154, 158); /*Riviera Paradise 0 154 158*/
}

.resultDivFalse {
    background-color: rgb(216, 111, 60); /*Field Poppy 213 111 60*/
    border: 2px solid rgb(244, 145, 78); /*Desert Orange 244 145 78*/
}

.resultsHeader {
    /*margin: 0px;*/
    margin-block-start: 3px;
    margin-block-end: 3px;
    padding: 0px;
}

.resultInfo {
    margin-left: 0.5in;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 0px;
}

